# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ficheiros de Sistema
.DS_Store

# Ignorar todas as pastas node_modules
**/node_modules

# Ignorar ficheiros de log
*.log

# Ignorar a CHAVE SECRETA DO FIREBASE
# (Este é o passo mais importante!)
serviceAccountKey.json
api/serviceAccountKey.json

.env
node_modules